
table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: pink;
  }
  
  table th, table td {
    border: 1px solid black;
    padding: 8px;
  }
  
  table th {
    background-color: lime;
  }
  
  table tr:nth-child(even) {
    background-color: yellow;
  }
  
  table tr:nth-child(odd) {
    background-color: cyan;
  }
  
  table tr:hover {
    background-color: magenta;
  }
  
  table caption {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
  }

  /* Estilo para la página */
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333; /* Color del texto principal */
  background-color: #f0f0f0; /* Color de fondo de la página */
  background-image: url('miata.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajustar la imagen para cubrir todo el fondo */
  background-position: center; /* Centrar la imagen de fondo */
  background-color: rgba(255, 255, 255, 0.8);
}

/* Estilo para los párrafos de texto */
p, h1, h2, a{
  margin-bottom: 20px; /* Espacio inferior entre párrafos */
  background-color: rgba(255, 255, 255, 0.8);
}

/* Estilo para los formularios */
form {
  background-color: #fff; /* Color de fondo del formulario */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; /* Espacio inferior entre formularios */
  background-color: rgba(255, 255, 255, 0.8);
}

label {
  font-weight: bold; /* Texto de etiqueta en negrita */
  background-color: rgba(255, 255, 255, 0.8);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%; /* Ancho completo para campos de entrada */
  padding: 8px;
  margin-bottom: 10px; /* Espacio inferior entre campos de entrada */
  border: 1px solid #ccc; /* Borde de los campos de entrada */
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 5px; /* Espacio a la derecha de las casillas de verificación */
}

input[type="button"],
input[type="submit"] {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
}

  