table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: pink;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  table th, table td {
    border: 1px solid black;
    padding: 8px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  table th {
    background-color: lime;
  }
  
  table tr:nth-child(even) {
    background-color: yellow;
  }
  
  table tr:nth-child(odd) {
    background-color: cyan;
  }
  
  table tr:hover {
    background-color: magenta;
  }
  
  table caption {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
  }


body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #222; /* texto principal */
  background-color: #f0f0f0; /* fondo de la página */
  background-image: url('miata.jpg'); /* imagen de fondo */
  background-position: center; 
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


p, h1, h2, a{
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


form {
  padding: 20px;
  border-radius: 10px; /*bordes circulares*/
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

label {
  font-weight: bold;
  border-radius: 0px; 
  background-color: rgba(255, 255, 255, 0.8);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%; 
  padding: 8px;
  margin-bottom: 10px;
  border: 0px #ccc; 
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 5px; 
}

input[type="button"],
input[type="submit"] {
  background-color: #ff00c3; 
  color: #fff; /* texto del botón */
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer; /*se ve puntero cuando hoverea*/
  border-radius: 5px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #00ff33; /* fondo del botón al hoverear */
  color: #000; /*texto del boton al hoverear*/

}
